link(rel="stylesheet"
  href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
link(rel="stylesheet"
  href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css")
link(rel="stylesheet"
  href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css")
link(rel="stylesheet"
  href="/stylesheets/datatable.css")
