doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport"
      content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible"
      content="ie=edge")
    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous")
    link(rel="shortcut icon", href="/images/white-logo.ico", type="image/x-icon")
    link(rel="stylesheet"
      href="/stylesheets/error.css")
    title RangoonZay
  body
    .d-flex.flex-column.align-items-center.mt-2
      p.thin.mt-5 404
      h2.mb-2.font-weight-light OOPS! NOTHING WAS FOUND
      p.mt-3.text-center.font-weight-lighter
        | The page you are looking for might have been removed, had it's name changed or is temporarily unavailable.
      a(href="/shops")
        button.btn.btn-primary.font-weight-light Go To Homepage