doctype html
html
  head
    // meta
    meta(charset="utf-8")
    meta(name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no")

    // title
    title RangoonZay
    
    // stylesheets
    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous")
    link(rel="shortcut icon"
      href="/images/white-logo.ico"
      type="image/x-icon")
    link(rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous")
    link(rel="stylesheet"
      href="/stylesheets/layout.css")
    link(rel="stylesheet"
      href="/stylesheets/flexDataList.css")

    block stylesheets

  body
    include navbar

    .container-fluid
      .row
        .col-md-2.bg-light.sidebar.position-fixed
          nav#sidebar.nav.flex-column
            a#productsLink.nav-link(href="/shops/products")
              svg.feather.feather-archive(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-="" linecap="round" stroke-linejoin="round")
                polyline(points="21 8 21 21 3 21 3 8")
                rect(x="1" y="3" width="22" height="5")
                line(x1="10" y1="12" x2="14" y2="12")
              span.ml-3 Product
            a#contactsLink.nav-link(href="/shops/contacts")
              svg.feather.feather-users(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2")
                circle(cx="9" cy="7" r="4")
                path(d="M23 21v-2a4 4 0 0 0-3-3.87")
                path(d="M16 3.13a4 4 0 0 1 0 7.75")
              span.ml-3 Contact
            a#vouchersLink.nav-link(href="/shops/vouchers")
              svg.feather.feather-file-text(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z")
                polyline(points="14 2 14 8 20 8")
                line(x1="16" y1="13" x2="8" y2="13")
                line(x1="16" y1="17" x2="8" y2="17")
                polyline(points="10 9 9 9 8 9")
              span.ml-3 Voucher
            a#shippingsLink.nav-link(href="/shops/shippings")
              svg.feather.feather-truck(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                rect(x="1" y="3" width="15" height="13")
                polygon(points="16 8 20 8 23 11 23 16 16 16 16 8")
                circle(cx="5.5" cy="18.5" r="2.5")
                circle(cx="18.5" cy="18.5" r="2.5")
              span.ml-3 Shipping
            a#checkoutLink.nav-link(href="/shops")
              svg.feather.feather-shopping-bag(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                path(d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z")
                line(x1="3" y1="6" x2="21" y2="6")
                path(d="M16 10a4 4 0 0 1-8 0")
              span.ml-3 Checkout
        main.col-md-10.ml-sm-auto.col-lg-10.px-4(role="main" style="background-color: #FFFFFC")
          block content

    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js")
    script(src="/javascripts/layout.js")
    script(src="/javascripts/browser.js")
    script(src="/javascripts/util.js")
    script(src="/javascripts/profile.js")
    script(src="/javascripts/datatable.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script.
      feather.replace();

    block scripts
