doctype html
html
  head
    meta(name="viewport"
      content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Cache-Control"
      content="no-cache")
    meta(http-equiv="Pragma"
      content="no-cache")
    meta(http-equiv="Expires"
      content="0")

    title RangoonZay

    link(rel="shortcut icon"
      href="/images/white-logo.ico"
      type="image/x-icon")
    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu"
      rel="stylesheet")
    link(rel="stylesheet"
      href="/stylesheets/loginStyles.css")
  body
    #notification.alert(role="alert")
      span#noti-text-box
    .mt-0
      .d-flex.justify-content-center.align-items-center
        .card.shadow.p-3.mb-5.bg-white.card-size
          br
          .card-body.pb-1.mt-2
            img#user-icon(src="/images/user2.png"
              alt="user")
            form#LoginForm(action="/login"
              method="POST")
              .form-group
                input#InputEmail1.form-control.border-top-0.border-left-0.border-right-0.rounded-0(type="email"
                  placeholder="Email, phone or username"
                  required)
              .form-group
                input#InputPassword1.form-control.border-top-0.border-left-0.border-right-0.rounded-0(type="password"
                  placeholder="Password"
                  required)
                .invalid-feedback
                  | Invalid username or password
              .form-group.form-check
                #container-for-cb-and-forgot-pw
                  input#checkbox.form-check-input(type="checkbox"
                    checked)
                  label.form-check-label(for="checkbox") Remember me?
                  a.link-no-decoration(href="#") Forgot Password?
              button#loginButton.btn.btn-outline-dark.btn-block.mt-4(name="submit") Log In
      
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/javascripts/util.js")
    script(src="/javascripts/login.js")
    script(src="/javascripts/browser.js")
