nav.navbar.navbar-dark.fixed-top.bg-dark.p-0.shadow
  a.navbar-brand.col-sm-3.col-md-2.mr-0(href="/shops")
    .company-logo.d-inline-block.bg-white.text-dark.text-center.align-middle R
    .company-name RangoonZay

  .d-flex.justify-content-start
    .dropdown
      a#dropdownMenuPlus.rounded(href="#"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false")
        span
          i#plusImage.fas.fa-plus-square
        span.text-light.ml-1
          svg.feather.feather-chevron-down(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            polyline(points="6 9 12 15 18 9")
      .dropdown-menu.dropdown-menu-right.mt-3(aria-labelledby="dropdownMenuOffset")
        a.dropdown-item(href="/shops/products") Add new product
        a.dropdown-item(href="/shops/transactions") Add new transaction
        a.dropdown-item(href="/shops/contacts") Add new contact
        a.dropdown-item(href="/shops") Checkout 

    .dropdown.mr-2
      a#dropdownMenuProfile.mr-2.rounded(href=""
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false")
        img#profileImage.rounded-circle(src="https://avatars1.githubusercontent.com/u/35038925?s=400&u=3778fbfd91f98a430439b542d3154b35c80629ea&v=4"
          alt="profilePhoto"
          width="24px"
          height="24px")
        span.text-light.ml-1
          svg.feather.feather-chevron-down(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            polyline(points="6 9 12 15 18 9")
      .dropdown-menu.dropdown-menu-right.mt-3(aria-labelledby="dropdownMenuOffset")
        span#name.dropdown-item-text Aye Myat Mon
        span#userName.dropdown-item-text @ayemyatmon
        .dropdown-divider
        a.dropdown-item(href="/shops/profile") Settings
        a.dropdown-item#signOutButton Signout
