#confirmModal.modal.fade(tabindex="-1"
    role="dialog"
    aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.round
            .modal-body.p-0
                .d-flex.flex-column.align-items-center.bg-warning.round-top
                    i.fas.fa-exclamation-circle.fa-3x.p.icon
                .d-flex.flex-column.align-items-center
                    h5.my-2 Warning!
                    p.margin Are you sure you want to delete?
                    .buttons.mb-3
                        button#formDeleteButton.btn.btn-outline-danger.btn-sm.mr-2(type="button"
                            data-dismiss="modal") 
                            | Delete
                        button.closeButton.btn.btn-outline-success.btn-sm(type="button"
                            data-dismiss="modal") 
                            | Cancel