#contact-modal.modal.fade(tabindex="-1"
  role="dialog"
  aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h6.modal-title Customer
        button.closeButton.close(type="button"
          data-dismiss="modal"
          aria-label="Close")
          span(aria-hidden="true") ×

      .modal-body
        form#contact-form(action="#")
          .form-group.row
            label.col-sm-3.col-form-label(for="name") Name
            .col-sm-9
              input#contact-name.form-control(type="text"
                name="name" 
                required)
              .invalid-feedback
                | This field is required!
          .form-group.row
            label.col-sm-3.col-form-label(for="birthday") Birthday
            .col-sm-9
              .input-group.date
                input#contact-dateOfBirth.form-control(type="text"
                  name="dateOfBirth")
                .input-group-append
                  span.input-group-text.bg-white
                    span(data-feather="calendar")
          .form-group.row
            label.col-sm-3.col-form-label(for="phone") Phone
            .col-sm-9
              input#contact-phoneNumber1.form-control(type="text"
                name="phoneNumber1" 
                pattern="[0-9]{8,}"
                required)
              .invalid-feedback
                | Invalid phone number. Must be at least 8 numbers.
          .form-group.row
            label.col-sm-3.col-form-label(for="address") Address
            .col-sm-9
              textarea#contact-address.form-control(name="address"
                required)
              .invalid-feedback
                | This field is required!
          .form-group.row
            label.col-sm-3.col-form-label(for="city") City
            .col-sm-9
              input#contact-city.form-control(type="text"
                name="city")
          .form-group.row
            label.col-sm-3.col-form-label(for="state") State
            .col-sm-9
              input#contact-state.form-control(type="text"
                name="state")
          .form-group.row
            label.col-sm-3.col-form-label(for="facebook") Facebook
            .col-sm-9
              input#contact-facebookName.form-control(type="text"
                name="facebookName")
          .form-group.row
            label.col-sm-3.col-form-label(for="facebookUrl") Facebook Link
            .col-sm-9
              input#contact-facebookUrl.form-control(type="text"
                name="facebookUrl")

      .modal-footer
        button#contact-submit.btn.btn-outline-success.btn-sm(type="submit")
          | Submit
