#failModal.modal.fade(tabindex="-1"
    role="dialog"
    aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.round
            .modal-body.p-0
                .d-flex.flex-column.align-items-center.bg-danger.round-top
                    i.fas.fa-times-circle.fa-3x.p.icon
                .d-flex.flex-column.align-items-center
                    h5.my-2 Sorry!
                    p.margin Your submission failed.
                    button.btn.btn-outline-danger.btn-sm.mb-3(type="button"
                        data-dismiss="modal") 
                        | Close


               
