#product-modal.modal.fade(tabindex="-1"
  role="dialog"
  aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Product
        button.closeButton.close(type="button"
          data-dismiss="modal"
          aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        form#product-form(enctype="multipart/form-data")
          .form-group.row
            label.col-sm-3.col-form-label(for='product-name') Name
            .col-sm-9
              input#product-name.form-control(type='text'
                name='name'
                required)
          .form-group.row
            label.col-sm-3.col-form-label(for='product-barcode') Barcode
            .col-sm-9
              input#product-barcode.form-control(type='text'
                name='barcode')
          .form-group.row
            label.col-sm-3.col-form-label(for='product-buyingPrice') Buying Price
            .col-sm-9
              input#product-buyingPrice.form-control(type='text'
                name='buyingPrice'
                required)
          .form-group.row
            label.col-sm-3.col-form-label(for='product-sellingPrice') Selling Price
            .col-sm-9
              input#product-sellingPrice.form-control(type='text'
                name='sellingPrice'
                required)
          .form-group.row
            label.col-sm-3.col-form-label(for='product-color') Color
            .col-sm-9
              input#product-color.form-control(type='text'
                name="color")
          .form-group.row
            label.col-sm-3.col-form-label(for='product-brand') Brand
            .col-sm-9
              input#product-brand.form-control(type='text'
                name='brand')
        
          #thumb-output.row
            .hide-this.col-md-12
              .file-input-div.text-center
                span.file-input-icon(data-feather='upload-cloud')
                label.ml-1.m-0 Click to Upload File
                .upload-btn-wrapper.ml-2
                  input#formControlFile(type='file'
                    name='productAlbum'
                    multiple='multiple')
          hr 
          h5.card-subtitle.mb-3 Inventories
          each item, idx in locations
            - var _id = `inventories[${idx}][_id]`
            - var location = `inventories[${idx}][location]`
            - var inStock = `inventories[${idx}][inStock]`
            .form-group.row
              label.col-sm-3.col-form-label(for=`${item}-location`) #{item}
              .col-sm-9
                input.d-none(type='text' 
                    id=`${item}-_id`)
                input.d-none(type='text' 
                    name=`${location}` 
                    id=`${item}-location`
                    value=`${item}`)
                input.form-control(type='text' 
                    name=`${inStock}` 
                    id=`${item}-inStock`
                    value="0")
          .from-group.text-right
            button#product-submit.btn.btn-outline-success.btn-sm.mt-2(type="submit")
              | Submit
