#shipping-modal.modal.fade(tabindex="-1"
    role="dialog"
    aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h6.modal-title Shipping
                button.closeButton.close(type="button"
                    data-dismiss="modal"
                    aria-label="Close")
                    span(aria-hidden="true") ×
            .modal-body
                form#shipping-form(action="#")
                    .form-group.row
                        label.col-sm-3.col-form-label(for="shipping-carrier") Carrier
                        .col-sm-9
                            input#shipping-carrier.form-control(type="text"
                                name="carrier")
                    .form-group.row
                        label.col-sm-3.col-form-label(for="shipping-pickedUpBy") Shipping Time
                        .col-sm-9
                            .input-group
                                input#shipping-pickedUpBy.form-control(type="text"
                                    name="pickedUpBy")
                                span.input-group-append
                                    button#shipping-calendar.btn.border-left-0
                                        span(data-feather="calendar")
                    .form-group.row
                        label.col-sm-3.col-form-label(for="shipping-shippingStatus") Status
                        .col-sm-9
                            select#shipping-shippingStatus.custom-select(name="shippingStatus")
                                each status in shippingStatus 
                                    option(value=status)=status
            .modal-footer
                button#shipping-submit.btn.btn-outline-success.btn-sm(type="submit")
                    | Submit
