#successModal.modal.fade(tabindex="-1"
    role="dialog"
    aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.round
            .modal-body.p-0
                .d-flex.flex-column.align-items-center.bg-success.round-top
                    i.fas.fa-check-circle.fa-3x.p.icon
                .d-flex.flex-column.align-items-center
                    h5.my-2 Great!
                    p.margin Your submission is successful.
                    button.successCloseButton.btn.btn-outline-success.btn-sm.mb-3(type="button"
                        data-dismiss="modal") 
                        | Close