/* Payment card styling */
#customerCard .card-title,
#paymentCard .card-title,
#shippingCard .card-title {
  margin-bottom: 0;
}

#checkout-productAdd {
  height: 35px;
  margin-top: 29px;
}

/* Bold payment type and banking info */
.font {
  font-weight: 500;
}

/* List margin adjustment */
ul.list-unstyled {
  margin-bottom: 0;
}

/* Image styling for bank photos */
.image {
  width: 200px;
  height: auto;
  margin-top: 100px;
}

#ayabank img,
#cbbank img {
  margin-top: 150px;
}

#yomabank img {
  margin-top: 120px;
}

/* Cursor for edit buttons */
#payment-edit,
#customer-edit,
#shipping-edit,
.remove {
  cursor: pointer;
}

/* Added list styling */
.border-show {
  border-top: 1px solid #dee2e6 !important;
}

/* Background color for shopping cart */
.total {
  background-color: rgb(247, 247, 247);
}

/* -- iOS toggle -- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9ecef;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #ced4da;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label.switch {
  margin-bottom: 0px;
}

/* Payment card invalid message adjustment */
.valid-top {
  margin-top: -4px;
  margin-bottom: 1rem;
}

.valid-feedback {
  height: 16px;
  margin-top: 4px;
}
