/* Error message styling */
.thin {
  background: -webkit-linear-gradient(45deg, #ffa34f, #ff6f68);
  font-size: 190px;
  font-weight: 100;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}
