/* Form icon styling */
.icon {
    color: white;
}

/* Form margin and border stylings */
.margin {
    margin-bottom: 10px;
}

.round {
    border-radius: 0.5rem;
}

.round-top {
    border-radius: 0.4rem 0.4rem 0 0;
}

.p {
    padding: 38px 0;
}

.border {
    border: 1px solid #28a745;
}