.alert-success {
    margin-top: 10px;
}
.ProductCard {
    margin-top: 10px;
}
#productAlert {
    display: none;
}
.ProductCard .card-header span {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.743);
}

#productReview {
    margin-top: 20px;
    display: none;
}
.thumb {
    margin: 10px 5px 0 0;
    width: 100px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.uploadbtn {
    border: 2px solid rgb(255, 233, 233);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.535);
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#contactTable_length {
    display: inline-block;
    padding-top: 5px;
    margin-left: 30px;
}

/* Table search bar position */

#contactTable_filter {
    float: right;
}

/* Table pagination margin  */

#contactTable_paginate {
    margin-top: 10px;
}

/* Table pagination style */

.paginate_button.page-item.active a.page-link {
    background-color: lightgray;
    color: white;
    border: 1px solid black;
    z-index: 10;
    box-shadow: none;
}

.paginate_button.page-item a.page-link {
    color: black;
    box-shadow: none;
}

.paginate_button.page-item.disabled .page-link {
    color: lightgray;
}

/* Input and textarea field font size */

input.form-control,
textarea.form-control {
    font-size: 0.875rem;
}

/* Rounded table heading */

.table {
    border-radius: 7px;
}

/* Table heading border */

.table thead th {
    border-bottom: none;
    border-top: none;
}

/* Table cell text alignment */

thead,
th {
    vertical-align: middle;
    text-align: center;
}

/* Table row select color */

.selected {
    background-color: lightgray;
}
#productEdit {
    margin-left: 10px;
    display: none;
}
