/* Font size for the whole project */
body,
h6,
.form-control,
.custom-select,
.dropdown-item,
.dropdown-item-text,
.dropdown-menu {
  font-size: 0.875rem;
}

/* Hide increment button for number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Height adjustment for input group appends and prepends */
.input-group-text {
  height: 35px;
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

/* Navbar Profile styling */
#profileImage {
  border: 1px solid white;
}

#plusImage::before {
  color: white;
}

#dropdownMenuPlus,
#dropdownMenuProfile {
  padding: 8px 8px 10px 8px;
}

#dropdownMenuPlus:hover,
#dropdownMenuProfile:hover {
  background-color: rgba(235, 226, 226, 0.2);
}

#displayName {
  font-weight: 500;
  padding-bottom: 0px;
}

#userName {
  padding-top: 0px;
}

/* Feather icon styling */
.feather {
  width: 18px;
  height: 18px;
  vertical-align: text-top;
}

/* Side bar styling */
.col-md-2.bg-light.sidebar.position-fixed {
  padding: 54px 0px 0px 0px;
}

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  padding: 13px 20px;
}

.sidebar .nav-link {
  color: #333;
  cursor: pointer;
  border-left: 6px solid rgb(248, 249, 250);
  transition: border-left 2s ease, background-color 2s ease;
}

/* Sidebar styling */
.sidebar .nav-link {
  border-bottom: 1px solid rgba(115, 115, 119, 0.1);
}

.sidebar .nav-link.active {
  border-left: 6px solid rgb(115, 115, 119);
  background-color: rgba(115, 115, 119, 0.1);
}

/* Main content */
[role="main"] {
  padding-top: 133px;
  /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 54px;
    /* Space for fixed navbar */
  }
}

/* Navbar styling */
.navbar-brand {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  font-size: 1rem;
}

/* Toggle class for adding items in cart */
.show {
  display: block !important;
}

/* Date picker stylings */
.datepicker {
  padding: 10px;
}

.datepicker td {
  padding: 5px;
}

/* Company brand */
.company-logo {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.company-name {
  display: inline-block;
  position: relative;
  top: 1px;
  left: 7px;
}
