body,
h6,
.custom-select,
.dropdown-item,
.dropdown-item-text,
.form-control,
a.link-no-decoration,
.invalid-feedback,
#loginButton {
    font-size: 0.875rem;
}

/* Adds a background image to login page */
body {
    background: url(../images/login-background.svg) no-repeat;
    background-position: left -250px top 20px;
}

.form-control:focus {
    box-shadow: none;
}

/* Align vertically and horizontally center the login-card */
.d-flex.justify-content-center {
    width: 100vw;
    height: 100vh;
}

/* Adjusts the login form container card size and borders  */
.card-size {
    padding-top: 3rem !important;
    width: 22rem;
    height: 22rem;
    border-radius: 10px;
}

/* Displays the checkbox and forgot password side by side */
#container-for-cb-and-forgot-pw {
    display: flex;
    justify-content: space-between;
}

/* User icon holder on top of login form */
#user-icon {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-color: white;
    border-radius: 100%;
}

/* To remove the underlines seen in standard anchor tags */
.link-no-decoration {
    text-decoration: none !important;
}

/* Set alert box height to 0, and hides it initially */
.alert {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 0;
    padding: 0;
    border: 0;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s;
}

/* Notification container */
#noti-text-box {
    display: block;
    margin-top: 15px;
}

/* Shows the noti box by setting the height */
.active {
    height: 50px;
}

/* Login successful text */
.success::before {
    content: "Login Successful";
}

/* Remove the outline of text boxes */
.form-control.is-invalid:focus {
    outline: 0;
    border-color: none;
    box-shadow: none;
}
