#thumb-img {
  width: 85px;
  height: 85px;
  border-radius: 0.25rem;
}

#thumb-output {
  border: 1px dashed #ced4da;
  margin: 2px 0;
  padding: 10px 0;
  background: #fff;
  border-radius: 0.25rem;
}

.thumb-img-box {
  margin: 10px 0;
}

.thumb-box {
  margin: 10px 10px;
}

.thumb {
  width: 100px;
  height: 100px;
}
.file-input-div {
  margin: 10px 0;
}

.file-input-icon {
  color: grey;
  size: 20px;
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
}

.btn-file-upload {
  border: 2px solid #12a6d2fa;
  color: white;
  background-color: #12a6d2fa;
  padding: 6px 16px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  position: absolute;
  width: 120px;
  left: -130px;
  top: -20px;
  opacity: 0;
}

a:hover {
  text-decoration: none;
  color: black;
}

.close-thick:after {
  font-family: "Font Awesome 5 Free";
  content: "\f057";
  position: absolute;
  top: 3px;
  right: 19px;
  text-decoration: none;
}
