/* Add border-left to align with the select styling class */
#profileLink,
#accountLink,
#homeLink {
  border-left: 4px solid white;
}

/* Add space to the left and right of the main content */
.compact {
  margin: 75px 15% 0 15%;
}

/* Add color to card-header */
.card-header {
  background-color: rgb(233, 236, 239);
}

/* Add width to card */
.card {
  width: 13rem;
}

/* Add padding to Profile tab */
.col-md-10 {
  padding-right: 70px;
}

/* Remove link effect of profile setting links */
a,
a:hover {
  text-decoration: none;
  color: black;
}

/* Adjust size of the back home link */
.back-home {
  padding: 12px 20px;
}

/* Add select styling to the links */
.clicked {
  border-left: 4px solid rgb(115, 115, 119) !important;
}

/*
* Password Setting
*/

#alertPassword,
#alertPassword1 {
  color: red;
  font-size: 12px;
  display: none;
}

/* For image size in edit page */
image-size {
  width: 200px;
  height: 200px;
}
#profilePreview {
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.position-absolute {
  top: 128px;
  padding-left: 10px;
  display: none;
}

.feather {
  width: 14px;
  height: 14px;
  vertical-align: text-top;
}
