/* Shipping time input styling */
#shipping-calendar {
    height: 35px;
    border-color: #ced4da !important;
    box-shadow: none;
}

.feather {
    position: relative;
    top: -1px;
}

/* Shipping status styling */
.shipping-status {
    color: white;
    padding: 2px 8px;
    width: 75px;
    box-shadow: none;
    cursor: none;
    outline: none;
}

.orange {
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.green {
    background-color: #28a745;
    border-color: #28a745;
}

.orange:hover,
.orange:focus {
    color: white;
    background-color: #fd7e14;
    cursor: default;
    box-shadow: none;
}

.green:hover,
.green:focus {
    color: white;
    background-color: #28a745;
    cursor: default;
    box-shadow: none;
}
