/* Voucher tabel expansion button stylings */
td.details-control {
  background: url("../images/chevron-circle-down-solid.svg") no-repeat center
    center;
  background-size: 16px;
  cursor: pointer;
}

tr.details td.details-control {
  background: url("../images/chevron-circle-up-solid.svg") no-repeat center
    center;
  background-size: 16px;
}

.icon-secondary {
  color: #343a40;
}

.shipping-card-height {
  height: 103px;
  padding-top: 29.5px;
}
