script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
script(src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js")
script(src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")
script(src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js")
script(src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js")
script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
