extends ../layout

block stylesheets
    link(rel="stylesheet" href="/stylesheets/formSubmit.css")
    link(rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css")
    link(rel="stylesheet"
        href="/stylesheets/autocomplete.css")
    link(rel="stylesheet"
        href="/stylesheets/checkout.css")
    
block content
    include ./modals/successModal
    include ./modals/failModal
    include ./modals/confirmModal
    .container-fluid.mt-2
        .row
            .col-8
                #accordion
                    .card.mt-2.bg-white.shadow.rounded
                        include checkout/productCard
                    .card.mt-2.bg-white.shadow.rounded
                        include checkout/customerCard
                    .card.my-2.bg-white.shadow.rounded
                        include checkout/paymentCard
                    .card.mt-2.mb-3.bg-white.shadow.rounded
                        include checkout/shippingCard

            .col-4
                h6.d-flex.justify-content-between.align-items-center.mt-2
                    span.text-muted Your Cart
                    span#itemsInCart.badge.badge-secondary.badge-pill.float-right 0
                #list.d-none.card.border-dark.mb-2

                .card.border-dark.total
                    .card-body
                        .row
                            .col-5
                                | Total :
                            .col-7
                                #checkout-finalPrice.float-right  0
                        .row.amount-text
                            
                #customerCard.d-none.card.border-dark.mt-2
                    .card-title
                        .card-header Customer
                            span#customer-edit.float-right
                              svg.feather.feather-edit(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7")
                                path(d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z")
                    .card-body
                        ul#customer-info.list-inline.list-unstyled
                        hr.mb-1
                        button#generateShippingLabel.btn.btn-outline-primary.btn-sm.float-right.mt-2
                            span
                              svg.feather.feather-printer(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                polyline(points="6 9 6 2 18 2 18 9")
                                path(d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2")
                                rect(x="6" y="14" width="12" height="8")
                              |  Print Label
                            
                #paymentCard.d-none.card.mt-2.border-dark
                    .card-title
                        .card-header Payment
                            span#payment-edit.float-right
                              svg.feather.feather-edit(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                  path(d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7")
                                  path(d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z")
                    .card-body
                        ul.list-unstyled.mb-2
                            .row 
                                .col-5
                                    .font Type :
                                .col-7
                                    #paymentType.text-right
                        ul#bankInfo.d-none.list-unstyled.font Banking Information
                            li#bank.font-weight-normal
                            li#nameOnCard.font-weight-normal
                            li#accountNumber.font-weight-normal
                
                #shippingCard.d-none.card.mt-2.border-dark
                    .card-title
                        .card-header Shipping
                            span#shipping-edit.float-right
                              svg.feather.feather-edit(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                  path(d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7")
                                  path(d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z")
                    .card-body
                        ul#shipping-info.list-unstyled

                button#checkout-submit.d-none.btn.btn-primary.btn-block.btn-sm.mt-2.mb-5 Checkout

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
    script(src="/javascripts/datepicker.js")
    script(src="/javascripts/checkout.js")
    script(src="/javascripts/jquery.flexdatalist.min.js")
    script(src="/javascripts/autocomplete.js")
    script(src="/javascripts/util.js")
