extends ../layout

block stylesheets
  include ./css/dataTableCss
  link(rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css")
  link(rel="stylesheet" href="/stylesheets/formSubmit.css")

block content
  .table-responsive.mb-3.mt-3
    table#contact-table.table.table-bordered(width="100%")
      thead
        tr
          th Name
          th Birthday
          th Phone
          th Address
          th City
          th State
          th Facebook
      tbody

  include ./modals/contactModal
  include ./modals/successModal
  include ./modals/failModal
  include ./modals/confirmModal

block scripts
  include ./scripts/dataTableScript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
  script(src="/javascripts/datepicker.js")
  script(src="/javascripts/contact.js")
