extends ../layout

block stylesheets
  include ./css/dataTableCss
  link(rel="stylesheet" href="/stylesheets/formSubmit.css")
  link(rel="stylesheet" href="/stylesheets/product.css")

block content
  .table-responsive.mb-3.mt-3
    table#product-table.table.table-bordered(width="100%")
      thead
        tr
          th Name
          th Barcode
          th Color
          th Brand
          th Buying Price
          th Selling Price
      tbody

  include ./modals/productModal
  include ./modals/successModal
  include ./modals/failModal
  include ./modals/confirmModal

block scripts
  include ./scripts/dataTableScript
  script(src="/javascripts/product.js")
