extends ../layout

block stylesheets
  include ./css/dataTableCss
  link(rel="stylesheet" href="/stylesheets/formSubmit.css")
  link(rel="stylesheet" href="/stylesheets/shipping.css")

block content
  .table-responsive.mb-3.mt-3
    table#shipping-table.table.table-bordered(width="100%")
      thead
        tr
          th Carrier
          th Ship From
          th Shipping Time
          th Status
      tbody

  include ./modals/shippingModal
  include ./modals/successModal
  include ./modals/failModal
  include ./modals/confirmModal

block scripts
  include ./scripts/dataTableScript
  script(src="/javascripts/shipping.js")
