extends ../layout

block stylesheets
  include ./css/dataTableCss
  link(rel="stylesheet" href="/stylesheets/formSubmit.css")
  link(rel="stylesheet" href="/stylesheets/voucher.css")

block content
  .row
    .col-md.card.shadow.m-3.p-2
      .row 
        .col-3
          i.far.fa-credit-card.fa-3x.mt-1.ml-2.icon-secondary
        .col-9
          h5.text-center.mb-0.mt-3.float-right #{today.toLocaleString()}
            span.text-muted   Ks
      hr.mb-1.mt-3
      .footer
        svg.feather.feather-clock(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
          circle(cx="12" cy="12" r="10")
          polyline(points="12 6 12 12 16 14")
        .d-inline-block.mt-1.ml-1.text-muted Today

    .col-md.card.shadow.m-3.p-2
      .row 
        .col-3
          i.far.fa-credit-card.fa-3x.mt-1.ml-2.icon-secondary
        .col-9
          h5.text-center.mb-0.mt-3.float-right #{lastMonth.toLocaleString()}
            span.text-muted   Ks
      hr.mb-1.mt-3
      .footer
        svg.feather.feather-calendar(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
          rect(x="3" y="4" width="18" height="18" rx="2" ry="2")
          line(x1="16" y1="2" x2="16" y2="6")
          line(x1="8" y1="2" x2="8" y2="6")
          line(x1="3" y1="10" x2="21" y2="10")
        .d-inline-block.mt-1.ml-1.text-muted Last month

    .col-md.card.shadow.m-3.p-2
      .row 
        .col-3
          i.far.fa-credit-card.fa-3x.mt-1.ml-2.icon-secondary
        .col-9
          h5.text-center.mb-0.mt-3.float-right #{sixMonths.toLocaleString()}
            span.text-muted   Ks
      hr.mb-1.mt-3
      .footer
        svg.feather.feather-calendar(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
          rect(x="3" y="4" width="18" height="18" rx="2" ry="2")
          line(x1="16" y1="2" x2="16" y2="6")
          line(x1="8" y1="2" x2="8" y2="6")
          line(x1="3" y1="10" x2="21" y2="10")
        .d-inline-block.mt-1.ml-1.text-muted Last six months

    .col-md.card.shadow.m-3.p-2
      .row 
        .col-3
          i.fas.fa-coins.fa-3x.mt-1.ml-2.icon-secondary
        .col-9
          h5.text-center.mb-0.mt-3.float-right #{paidLastMonth.toLocaleString()}
            span.text-muted   Ks
      hr.mb-1.mt-3
      .footer
        svg.feather.feather-calendar(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
          rect(x="3" y="4" width="18" height="18" rx="2" ry="2")
          line(x1="16" y1="2" x2="16" y2="6")
          line(x1="8" y1="2" x2="8" y2="6")
          line(x1="3" y1="10" x2="21" y2="10")
        .d-inline-block.mt-1.ml-1.text-muted Last month paid
      
  .card.p-3.shadow.table-responsive.mb-3
    table#voucher-table.table.table-bordered(width="100%")
      thead
        tr
          th
          th Name
          th Phone Number 
          th Payment 
          th Paid 
          th Total
          th Created
      tbody

  include ./modals/successModal
  include ./modals/failModal
  include ./modals/confirmModal

block scripts
  include ./scripts/dataTableScript
  script(src="/javascripts/voucher.js")
