h6.card-header.bg-light.text-center(data-toggle="collapse"
  data-target="#customer-collapse") Customer
#customer-collapse.collapse(data-parent="#accordion")
  .card-body
    form#checkout-customerForm
      .row.mb-3
        input#checkout-id.form-control.d-none(type="text"
          name="_id")
        .col-6
          label(for="checkout-name") Name
          input#checkout-name.form-control(type="text"
            name="name"
            required)
          .invalid-feedback
            | This field is required!
        .col-6
          label(for="checkout-phoneNumber1") Phone Number
          input#checkout-phoneNumber1.form-control(type="text"
            name="phoneNumber1"
            pattern="[0-9]{8,}"
            required)
          .invalid-feedback
            | Invalid phone number. Must be at least 8 numbers.
      .row.mb-3
        .col
          label(for="checkout-address") Address
          input#checkout-address.form-control(type="text"
            name="address"
            required)
          .invalid-feedback
            | This field is required!
      .row.mb-3
        .col-4
          label(for="checkout-city") City
          input#checkout-city.form-control(name="city"
            required)
          .invalid-feedback
            | This field is required!
        .col-4
          label(for="checkout-state") State
          select#checkout-state.custom-select(name="state"
            required)
            each state in states
              if (state === "Yangon")
                option(value=state selected)=state
              else 
                option(value=state)=state
          .invalid-feedback
            | This field is required!
        .col-4   
          label(for="checkout-country") Country
          select#checkout-country.custom-select.d-block.w-100(name="country"
            required)
            option(value="Myanmar"
              selected) Myanmar
          .invalid-feedback
            | This field is required!
      .row.mb-3
        .col-6
          label(for="checkout-dateOfBirth") Birthday
            span.text-muted  (Optional)
          .input-group.date
            input#checkout-dateOfBirth.form-control(type="text"
              name="dateOfBirth")
            .input-group-append
              span.input-group-text.bg-white
                span
                  svg.feather.feather-calendar(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    rect(x="3" y="4" width="18" height="18" rx="2" ry="2")
                    line(x1="16" y1="2" x2="16" y2="6")
                    line(x1="8" y1="2" x2="8" y2="6")
                    line(x1="3" y1="10" x2="21" y2="10")
            .invalid-feedback
              | This field is required!
        .col-6
          label(for="checkout-phoneNumber2") Phone Number 2
            span.text-muted  (Optional)
          input#checkout-phoneNumber2.form-control(type="text"
            name="phoneNumber2")
      .row.mb-3
        .col-6
          label(for="checkout-facebookName") Facebook Name
            span.text-muted  (Optional)
          input#checkout-facebookName.form-control(type="text"
            name="facebookName")
        .col-6
          label(for="checkout-facebookLink") Facebook Link
            span.text-muted  (Optional)
          input#checkout-facebookName.form-control(type="text"
            name="facebookUrl")
              
      button#customer-add.btn.btn-outline-dark.btn-sm.float-right.mb-3(type="button") Continue
