h6.card-header.bg-light.text-center(data-toggle="collapse"
    data-target="#payment-collapse") Payment
#payment-collapse.collapse(data-parent="#accordion")
    .card-body
        form#checkout-paymentForm
            .row
                .col-7
                    label(for="payment-type") Payment type
                    select#payment-type.custom-select.mb-2(name="paymentType"
                        required)
                            each payment in paymentType
                                option(value=payment)=payment
                    .invalid-feedback.valid-top
                        | This field is required!
                    #payment-banktransfer.collapse.hide-me
                        label(for="payment-banking") Bank
                        select#payment-banking.custom-select.mb-2(name="bankName"
                            disabled
                            required)
                            option(value=""
                                disabled
                                selected) -- Select an option --
                            each bank in mobileBanking
                                option(value=bank)=bank
                        .invalid-feedback.valid-top
                            | This field is required!
                        label(for="bankTransfer-accountNumber") Account Number
                        input#bankTransfer-accountNumber.form-control.mb-2(type="number"
                            name="accountNumber"
                            disabled
                            required)
                        .invalid-feedback.valid-top
                            | This field is required!
                        label(for="bankTransfer-nameOnCard") Name on card
                        input#bankTransfer-nameOnCard.form-control.mb-2(type="text"
                            name="nameOnCard"
                            disabled
                            required)
                        .invalid-feedback.valid-top
                            | This field is required!
                    label(for="bankTransfer-cashDown-amount") Amount
                    input#payment-amount.form-control(type="number"
                        name="paid"
                        required)
                    .invalid-feedback
                        | This field is required!
                .col-5
                    #kbzbank.collapse.image-hide
                        img.float-right.image.mr-3(src="/images/kbz.png")
                    #ayabank.collapse.image-hide
                        img.float-right.image.mr-3(src="/images/aya.png")
                    #cbbank.collapse.image-hide
                        img.float-right.image.mr-3(src="/images/cb.png")
                    #yomabank.collapse.image-hide
                        img.float-right.image.mr-3(src="/images/yoma.png")
        
            button#payment-add.btn.btn-outline-dark.btn-sm.float-right.mb-3(type="button") Continue
