h6.card-header.bg-light.text-center(data-toggle="collapse"
    data-target="#product-collapse") Product
#product-collapse.collapse.show(data-parent="#accordion")
    .card-body
        form#checkout-productForm
            .row.mb-3
                .col-4
                    label(for="product") Product Name
                    input.fdl-product.form-control(type="text"
                        data-value-property="name"
                        name="productName"
                        required)
                    .valid-feedback
                    .invalid-feedback
                        | This field is required!
                .col-3
                    label(for="quantity") Quantity
                    input#checkout-quantity.form-control(type="number"
                        name="quantity"
                        required)
                    .valid-feedback
                    .invalid-feedback
                        | This field is required!
                    input#checkout-productId(type="hidden"
                        name="productId")
                .col-4
                    label(for="sellingPrice") Unit Price
                    .input-group
                        input#checkout-sellingPrice.form-control(type="number"
                            name="sellingPrice"
                            data-min-length="1"
                            required)
                        .input-group-append
                            span.input-group-text Ks
                        .valid-feedback
                        .invalid-feedback
                            | This field is required!
                .col-1
                    button#checkout-productAdd.btn.btn-outline-dark.btn-sm.float-right(type="button") 
                        span
                          svg.feather.feather-plus(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                            line(x1="12" y1="5" x2="12" y2="19")
                            line(x1="5" y1="12" x2="19" y2="12")            
        hr 
        button#product-continue.btn.btn-outline-dark.btn-sm.float-right.mb-3(data-toggle="collapse"
            data-target="#customer-collapse"
            type="button") Continue
