h6.card-header.bg-light.text-center(data-toggle="collapse"
  data-target="#shipping-collapse") Shipping
#shipping-collapse.collapse(data-parent="#accordion")
  .card-body
    form#shippingForm(method="post")
      .form-row.align-items-end
        input#shipping-_id.d-none.form-control(type="text"
            name="_id" hidden)
        .col
          label Carrier
          input#shipping-carrier.form-control(type="text"
            name="carrier" required)
        .col
            label Shipping Status
            select#shipping-shippingStatus.custom-select(name="shippingStatus")
              each status in shippingStatus 
                option(value=status)=status
        .col
            label(for="checkout-shipFrom") Ship From
            select#shipping-shipFrom.custom-select(name="shipFrom")
              each place in shipFrom
                option(value=place)=place

      hr 
      button#shipping-add.btn.btn-outline-dark.btn-sm.float-right.mb-3(type="button") Continue
