extends settingLayout

block content
    .col-8
        h5 Account
        hr
        form#passwordForm
            .form-group
                label(for="oldPassword") Old Password
                input#oldPassword.form-control(type="password")
            .form-group
                label(for="newPassword") New Password
                input#newPassword.form-control(type="password")
                span#alertPassword Password doesn't match! Please type again.
            .form-group
                label(for="confirmedPassword") Confirm New Password
                input#confirmedPassword.form-control(type="password")
                span#alertPassword1 Password doesn't match! Please type again.
            button#changePassword.btn.btn-outline-dark.mb-3.float-right(type="submit") Update Password



