extends settingLayout

block content
  include ../modals/successModal
  include ../modals/failModal

  .container-fluid
    h5 Profile
    hr
    form#profile-form
      .row
        .col-8
          .form-row
            .form-group.col
              label(for="profile-name") Name
              input#profile-name.form-control(type="text" name="name")
          .form-row
            .form-group.col
              label(for="profile-facebookName")
                | Facebook Name
                span.text-muted  (Optional)
              input#profile-facebookName.form-control(type="text" name="facebookName")
          .form-group
            label(for="profile-address") Address
            textarea#profile-address.form-control(rows="3"  name="address")
          .form-row
            .form-group.col-6
              label(for="city") City
              input#profile-city.form-control(type="text"  name="city")
            .form-group.col-6
              label(for="state") State
              select#profile-state.custom-select.mr-sm-2(name="state")
                each state in states
                  if (state === "Yangon")
                    option(value=state selected)=state
                  else
                    option(value=state)=state
          .form-row
            .form-group.col-6
              label(for="phoneNumber1") Phone Number 1
              input#profile-phoneNumber1.form-control(type="text" name="phoneNumber1")
            .form-group.col-6
              label(for="phoneNumber2")
                | Phone Number 2
              span.text-muted  (Optional)
              input#profile-phoneNumber2.form-control(type="text" name="phoneNumber2")
          .form-row
            .form-group.col
              label(for="email") Email
                span.text-muted  (Optional)
              .input-group
                .input-group-prepend
                  span.input-group-text @
                input#profile-email.form-control(type="email"
                  name="email")
        .col-4
          .fileinput.fileinput-new.mt-3(data-provides='fileinput')
            .filePreview
              img#profilePreview( alt="Profile Image")
              .position-absolute
                button.btn.btn-secondary.btn-sm.dropdown-toggle(id="dropdownImageButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button")
                  span.mr-1(data-feather="edit")
                  span Edit
                .dropdown-menu(aria-labelledby='dropdownImageButton')
                  span.dropdown-item.btn.btn-outline-secondary.btn-file
                    span.fileinput-new Edit Image
                    input#avatar(type='file')
                    span.fileinput-exists Change
                  a#RemoveImgBtn.dropdown-item.btn.btn-outline-secondary.fileinput-exists(href='#', data-dismiss='fileinput') Remove
      .row
        .col-8
          button#updateProfileButton.btn.btn-outline-dark.float-right.mb-3(type="button") Update
