doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title RangoonZay

    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous")
    link(rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous")
    link(rel="shortcut icon"
      href="/images/white-logo.ico"
      type="image/x-icon")
    link(rel="stylesheet"
      href="/stylesheets/layout.css")
    link(rel="stylesheet"
      href="/stylesheets/settings.css")

  body
    include ../../navbar

    .container-fluid
      .row.compact
        .col-3
          .card
            .card-header
              | Profile Settings
            ul.list-group.list-group-flush
              li#profileLink.list-group-item
                a.stretched-link(
                  href="/shops/profile") Profile
              li#accountLink.list-group-item
                a.stretched-link(
                  href="/shops/account") Account
          .card.mt-2
            .card-body.back-home
              a#homeLink.stretched-link(href="/shops") Back Home
        .col-9
          block content

        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
        script(src="/javascripts/layout.js")
        script(src="/javascripts/settings.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/javascripts/account.js")
        script(src="/javascripts/util.js")
        script(src="/javascripts/profile.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js")
        script.
            feather.replace();
